/**
 * Photos
 */

.photo {
  position: relative;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.35s, filter 0.35s;
    filter: blur(1px) brightness(0.85);
  }

  &:hover .photo__image {
    transform: scale(1.2);
    filter: brightness(1);
  }

  &__focusFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.35s, border-color 0.35s;
  }

  &:hover .photo__focusFrame {
    opacity: 1;
    animation: blink 1s infinite;
  }

  &__tooltip {
    position: absolute;
    right: 6px;
    bottom: 12px;
    margin: 0;
    padding: 6px 9px;
    border: 1px solid #808080;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333333;
    font-size: min(2.52vw, 75%);
    line-height: 1.44 !important;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
  }

  &:hover .photo__tooltip {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    border-color: rgba(255, 255, 255, 0.7);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.35);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.7);
  }
}
