@charset "UTF-8";
/**
 * Customize
 */
#index_header_content .catch {
  color: #000;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  text-shadow: 2px 2px 6px #fff, -2px 2px 6px #fff, 2px -2px 6px #fff, -2px -2px 6px #fff;
}

.link_button {
  margin-top: 65px;
  text-align: center;
}
.link_button .design_button {
  color: #ffffff;
}
.link_button .design_button:hover {
  color: #ffffff;
}

#cb_content_3.cb_free_space.num3 {
  background: repeating-linear-gradient(135deg, #FEF4FC, #FEF4FC 6px, #FDE9F9 6px, #FDE9F9 12px);
}

#c-myVideo {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto 30px;
}

#cb_content_9.cb_free_space.num9 {
  background: url("/data/uploads/tp08_md.jpg") no-repeat 50% 50%/cover scroll;
}
@media (min-width: 900px) {
  #cb_content_9.cb_free_space.num9 {
    background: url("/data/uploads/tp08_lg-scaled.jpg") no-repeat 50% 50%/cover scroll;
  }
}
#cb_content_9.cb_free_space.num9 .catch.common_catch {
  color: #ffffff;
}
#cb_content_9.cb_free_space.num9 .post_content {
  width: min(83.33%, 648px);
  margin: 0 auto;
}
#cb_content_9.cb_free_space.num9 .post_content p {
  color: #ffffff;
}

#footer_box_content .item:nth-child(3) .design_button {
  background-color: #00b900;
}
#footer_box_content .item:nth-child(3) .design_button::before {
  background-color: #00dc00;
}
#footer_box_content .c-item .headline {
  margin: 0;
}
#footer_box_content .c-item .c-tel {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
}
#footer_box_content .c-item .c-tel a {
  color: #f441c9;
}

.c-footerContent {
  text-align: center;
  line-height: 1.8;
}
.c-footerContent__click {
  padding: 4px 6px 3px;
  border: 1px solid #f441c9;
  background-color: #ffffff;
  color: #f441c9 !important;
  transition: all 0.25s ease-in-out;
}
.c-footerContent__click:hover {
  background-color: #f441c9;
  color: #ffffff !important;
}

#service_page_header .title {
  background-color: rgba(244, 65, 201, 0.5) !important;
}

.post_content p a {
  color: #f441c9;
}
.post_content p a:hover {
  color: #f892e0;
}
.post_content .service_design_content .headline {
  color: #ffffff !important;
}
.post_content .service_design_content ul,
.post_content .c-designList {
  list-style: none;
  margin-left: 40px;
}
.post_content .service_design_content ul li,
.post_content .c-designList li {
  position: relative;
}
.post_content .service_design_content ul li::before,
.post_content .c-designList li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -32px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/data/plugins/beyond-customize/assets/icn_check.svg") no-repeat center center/contain scroll;
}
.post_content .c-check {
  list-style: none;
  margin-left: 40px;
}
.post_content .c-check li {
  position: relative;
}
.post_content .c-check li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -32px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/data/plugins/beyond-customize/assets/icn_check.svg") no-repeat center center/contain scroll;
}
.post_content .c-table th, .post_content .c-table td {
  border-left: none;
  border-right: none;
  border-color: #d0d0d0;
  background-color: transparent;
  vertical-align: middle;
}
.post_content .c-table td:first-child {
  border-color: #d0d0d0;
  color: #f441c9;
}
.post_content .c-sectionHeadline::after {
  content: "";
  display: block;
  width: 48px;
  height: 6px;
  margin: 12px auto;
  background-color: #f441c9;
}
.post_content .wp-block-button .wp-block-button__link {
  width: 100%;
}

.page-id-62 #container {
  background-color: #fde4f7;
}
.page-id-62 #container .service_design_content {
  position: relative;
  overflow: visible;
}
.page-id-62 #container .service_design_content .headline {
  border-radius: 12px 12px 0 0;
  background-color: #f441c9;
  color: #ffffff;
}
@media (max-width: 750px) {
  .page-id-62 #container .service_design_content .headline {
    padding-left: 36px !important;
  }
}
.page-id-62 #container .service_design_content::before {
  content: "";
  position: absolute;
  left: 12px;
  top: -6px;
  width: 72px;
  height: 72px;
  background: url("/data/plugins/beyond-customize/assets/label_campaign.png") no-repeat 0% 0%/contain scroll;
}
@media (min-width: 900px) {
  .page-id-62 #container .service_design_content::before {
    left: 108px;
    top: -18px;
    width: 108px;
    height: 108px;
  }
}

.tcd_co_data {
  border-left: none;
  border-right: none;
}
@media (max-width: 750px) {
  .tcd_co_data {
    font-size: 14px;
  }
}
.tcd_co_data dt {
  justify-content: flex-start;
  border-right: none;
  background-color: transparent;
  color: #f441c9;
  font-weight: 700;
}
@media (max-width: 750px) {
  .tcd_co_data dt {
    width: 100px;
    padding: 20px 10px;
  }
}
@media (max-width: 750px) {
  .tcd_co_data dd {
    width: calc(100% - 100px);
    padding: 20px 10px;
  }
}

#drawer_menu {
  width: 100% !important;
}

body.drawermenu_light #drawer_menu {
  background: url("/data/uploads/drawerMenu-bg_tr.jpg") no-repeat 50% 50%/cover scroll !important;
}

body.drawermenu_light #mobile_menu li ul {
  background-color: transparent !important;
}

body.drawermenu_light #mobile_menu a {
  background: transparent !important;
}

body.drawermenu_light #mobile_menu li li a {
  background: rgba(255, 255, 255, 0.3) !important;
}

/**
 * Icon
 */
.icon {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  fill: currentColor;
}

.icon__cnt {
  width: 100%;
  height: 100%;
  background: inherit;
  fill: inherit;
  pointer-events: none;
  transform: translateX(0);
  -ms-transform: translate(0.5px, -0.3px);
}

.icon--m {
  width: 3rem;
  height: 3rem;
}

.icon--l {
  width: 4.5rem;
  height: 4.5rem;
}

/**
 * Project
 */
#c-reason.c-reason {
  width: min(100%, 1024px);
  margin-left: auto;
  margin-right: auto;
}
#c-reason.c-reason .c-reason__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 175vw;
  margin: 0;
  padding: min(6vw, 84px);
  background: url("/data/plugins/beyond-customize/assets/frame1_md.jpg") no-repeat 50% 50%/contain scroll;
}
@media (min-width: 900px) {
  #c-reason.c-reason .c-reason__list {
    width: 100%;
    height: min(60vw, 648px);
    background-image: url("/data/plugins/beyond-customize/assets/frame1_lg.jpg");
  }
}
#c-reason.c-reason .c-reason__item {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 900px) {
  #c-reason.c-reason .c-reason__item {
    text-align: left;
  }
}
#c-reason.c-reason .c-reason__image {
  flex: 0 1 36vw;
}
@media (min-width: 900px) {
  #c-reason.c-reason .c-reason__image {
    flex-basis: min(12vw, 144px);
  }
}
#c-reason.c-reason .c-reason__text {
  flex: 0 1 100%;
  font-weight: 700;
  font-size: 3.6vw;
  line-height: 1.4;
}
@media (min-width: 900px) {
  #c-reason.c-reason .c-reason__text {
    flex-basis: min(48vw, 576px);
    margin-left: min(2vw, 24px);
    padding-top: min(1vw, 12px);
    font-size: min(1.8vw, 21px);
  }
}
#c-reason.c-reason .c-reason__text small {
  font-size: 75%;
}

#c-attention.c-attention {
  width: 100%;
  padding: 48px 0 96px;
  background: url("/data/uploads/attention-bg_md.jpg") no-repeat 100% 0%/cover scroll;
}
@media (min-width: 900px) {
  #c-attention.c-attention {
    background-image: url("/data/uploads/attention-bg_lg-scaled.jpg");
  }
}
#c-attention.c-attention .c-attention__image {
  display: block;
  width: min(90vw, 648px);
  margin: 24px auto;
}
#c-attention.c-attention .c-attention__heading, #c-attention.c-attention .c-attention__text {
  width: min(90vw, 648px);
  margin: 24px auto;
  color: #ffffff;
}
#c-attention.c-attention .c-attention__heading {
  font-size: 1.17em;
  text-align: center;
}
#c-attention.c-attention .link_button {
  margin-top: 24px;
}

#c-plan.c-plan {
  width: min(100%, 960px);
  margin-left: auto;
  margin-right: auto;
}
#c-plan.c-plan .c-plan__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;
  margin: 0;
  padding: 0;
}
#c-plan.c-plan .c-plan__item {
  flex: 0 1 288px;
}

#c-aboutUs.c-aboutUs {
  position: relative;
  width: min(100%, 960px);
  margin-left: auto;
  margin-right: auto;
}
#c-aboutUs.c-aboutUs .c-aboutUs__inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
#c-aboutUs.c-aboutUs .c-aboutUs__image {
  flex: 0 1 432px;
}
#c-aboutUs.c-aboutUs .c-aboutUs__image img {
  border-radius: 50%;
}
#c-aboutUs.c-aboutUs .c-aboutUs__content {
  flex: 0 1 432px;
  text-align: justify;
}
#c-aboutUs.c-aboutUs .c-aboutUs__content strong {
  color: #f441c9;
}
#c-aboutUs.c-aboutUs .c-aboutUs__cover {
  position: absolute;
  top: 150px;
  right: -150px;
  z-index: 1;
  width: 330px;
  height: 396px;
  background: url("/data/uploads/2024/07/logo_l.png") no-repeat center center/contain scroll;
  opacity: 0.15;
}
@media (min-width: 600px) {
  #c-aboutUs.c-aboutUs .c-aboutUs__cover {
    top: -180px;
    right: -180px;
    width: 396px;
    height: 475px;
  }
}

#c-snsArea.c-snsArea {
  margin-bottom: 48px;
  text-align: center;
}
#c-snsArea.c-snsArea .c-snsArea__instagram {
  width: 60px;
}

#c-bannerArea.c-bannerArea {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  width: min(100%, 960px);
  margin-left: auto;
  margin-right: auto;
}
#c-bannerArea.c-bannerArea .c-bannerArea__banner {
  position: relative;
  flex: 0 1 288px;
}
#c-bannerArea.c-bannerArea .c-bannerArea__banner figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1em;
  margin: auto;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}
#c-bannerArea.c-bannerArea .c-bannerArea__banner:nth-child(3) figcaption {
  height: 2.4em;
  line-height: 1.2;
}

.c-featureHead {
  position: relative;
  min-height: 6rem;
  padding: 1.5rem 0;
}
.c-featureHead__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("/data/uploads/ae_orange_logo.jpg") no-repeat 50% 50%/contain scroll;
  opacity: 0.35;
}
@media (max-width: 899.9px) {
  .c-featureHead {
    padding-top: 9rem;
  }
  .c-featureHead__cover {
    height: calc(100% - 9rem);
    opacity: 1;
  }
}
.c-featureHead span {
  display: inline-block;
}

.c-featureGroup {
  width: calc(100% + 40px);
  height: 112vw;
  margin: 0 -20px;
  padding: clamp(31.5px, 6vw, 84px);
  background: url("/data/plugins/beyond-customize/assets/frame2_md.jpg") no-repeat 50% 50%/contain scroll;
  font-size: 3.36vw;
}
.c-featureGroup .c-featureGroup__img {
  max-width: 180px;
  margin: auto;
}
.c-featureGroup .c-featureGroup__h2 {
  font-size: 4.2vw;
}
@media (min-width: 900px) {
  .c-featureGroup {
    width: 100%;
    height: min(50vw, 540px);
    margin: 0;
    background-image: url("/data/plugins/beyond-customize/assets/frame2_lg.jpg");
    font-size: 1rem;
  }
  .c-featureGroup .c-featureGroup__img {
    max-width: 240px;
  }
  .c-featureGroup .c-featureGroup__h2 {
    font-size: 1.25rem;
  }
}

#c-report {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 24px;
}
#c-report .c-report {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 12px;
  flex: 0 1 400px;
  padding: 36px;
  box-shadow: 6px 6px 12px 6px #dbdbdb;
}
#c-report .c-report .myphoto.--sm {
  flex: 0 1 47.5%;
}
#c-report .c-report .myphoto.--lg {
  flex: 0 1 100%;
}
#c-report .c-report__desc {
  width: 100%;
  margin: 0;
  font-size: 75%;
  line-height: 1;
  text-align: left;
}

#c-attention--sub {
  width: min(100%, 720px);
  margin: 0 auto;
}

#c-step {
  width: min(100%, 720px);
  margin: 0 auto;
}
#c-step .c-step {
  position: relative;
  padding-top: 36px;
  padding-left: 31.5%;
  padding-right: 6.25%;
  padding-bottom: 36px;
  margin-bottom: 48px;
  border: 1px solid #f441c9;
  border-radius: 6px;
  text-align: justify;
}
#c-step .c-step::after {
  content: url("/data/plugins/beyond-customize/assets/step_arrow.svg");
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  width: 36px;
  height: 36px;
  margin: auto;
}
#c-step .c-step:last-child::after {
  content: "";
}
#c-step .c-step__image {
  position: absolute;
  top: 36px;
  right: calc(100% - min(30%, 180px));
  width: min(25%, 120px);
}
#c-step .c-step__image img {
  width: 100%;
}

#c-notes.c-notes {
  list-style: none;
  margin-left: auto;
}
#c-notes.c-notes .c-notes li::first-letter {
  color: #f441c9;
}

#c-faq.c-faq {
  width: min(100%, 720px);
  margin: 0 auto;
}
#c-faq.c-faq .c-faq__dt {
  margin: 0;
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  background-color: #ffffff;
}
#c-faq.c-faq .c-faq__dd {
  margin: 0;
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  background-color: #f6f6f6;
}
#c-faq.c-faq [data-toggle=panel]::after {
  content: "+";
  float: right;
  margin-right: 6px;
}
#c-faq.c-faq [data-toggle=panel].--active::after {
  content: "-";
}
#c-faq.c-faq .panel.--collapse {
  display: none;
}

#c-sitemap.c-sitemap {
  display: flex;
  flex-flow: row wrap;
}
#c-sitemap.c-sitemap .c-sitemap__contentBox {
  flex: 1 1 240px;
}
#c-sitemap.c-sitemap h3 {
  margin-top: 24px;
  margin-bottom: 12px;
}
#c-sitemap.c-sitemap ul {
  list-style-type: "- ";
}

.c-greeting__bg {
  background: url("/data/uploads/daihyou_haikeiSP.jpg") no-repeat center center/contain scroll;
}
@media (min-width: 600px) {
  .c-greeting__bg {
    background-image: url("/data/uploads/daihyou_haikeiPC.jpg");
  }
}

#c-philosophy {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
  width: min(100%, 672px);
}
#c-philosophy .c-philosophy {
  position: relative;
  flex: 1 1 324px;
  border: 1px solid #f441c9;
}
#c-philosophy .c-philosophy__num {
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 54px;
  margin: 0;
  padding: 0;
  background-color: #f441c9;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 54px;
}
#c-philosophy .c-philosophy__image {
  text-align: center;
}
#c-philosophy .c-philosophy__image img {
  width: 144px;
}
#c-philosophy .c-philosophy p {
  margin: 0;
  padding: 6px 18px 12px;
  line-height: 1.8;
}
#c-philosophy .c-philosophy p:not(.c-philosophy__lead) {
  text-align: justify;
}
#c-philosophy .c-philosophy__lead {
  color: #f441c9;
  font-weight: 700;
  text-align: center;
}

#c-fukuiGroup .c-fukuiGroup {
  align-items: stretch;
  gap: 0;
}
#c-fukuiGroup .c-fukuiGroup__image {
  flex: 0 1 384px;
  margin-bottom: 30px;
}
#c-fukuiGroup .c-fukuiGroup__content {
  position: relative;
  flex: 0 1 576px;
  margin: 45px 0;
  padding: 15px 0 15px 30px;
  border-left: 1px solid #f441c9;
}
#c-fukuiGroup .c-fukuiGroup__content h3 {
  position: absolute;
  top: -45px;
  left: 0;
  margin: 0;
  color: #f441c9;
  font-size: 30px;
  line-height: 1;
}
#c-fukuiGroup .c-fukuiGroup__content h4 {
  margin: 0 0 15px;
  font-size: 24px;
}
#c-fukuiGroup .c-fukuiGroup__content p {
  line-height: 2;
}

.contactItem {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 12px;
}
.contactItem__box {
  flex: 0 1 288px;
  padding: 36px 0;
  border-radius: 18px;
  background-color: #fde4f7;
  font-weight: 700;
}
.contactItem__box:nth-child(1) p {
  margin-bottom: 0;
  line-height: 1.44;
}
.contactItem__box:nth-child(3) {
  background-color: #ddf8e0;
}
.contactItem__box p {
  margin-bottom: 12px;
}

#c-contactTableWrap {
  width: min(100%, 864px);
  margin: 0 auto;
}
#c-contactTableWrap > div > p {
  margin-bottom: 12px;
}

#c-contactTable.c-contactTable th, #c-contactTable.c-contactTable td {
  border: none;
  vertical-align: middle;
}
#c-contactTable.c-contactTable td:nth-child(1) {
  width: 30%;
}
#c-contactTable.c-contactTable td:nth-child(2) {
  width: 70%;
}
@media (max-width: 899.9px) {
  #c-contactTable.c-contactTable th, #c-contactTable.c-contactTable td {
    display: block;
    width: 100% !important;
  }
}
#c-contactTable.c-contactTable input[type=text],
#c-contactTable.c-contactTable input[type=email],
#c-contactTable.c-contactTable select,
#c-contactTable.c-contactTable textarea {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #fde4f7;
}
#c-contactTable.c-contactTable input[type=text]:not(.your-tel),
#c-contactTable.c-contactTable input[type=email],
#c-contactTable.c-contactTable textarea {
  width: 300px;
}
@media (min-width: 900px) {
  #c-contactTable.c-contactTable input[type=text]:not(.your-tel),
  #c-contactTable.c-contactTable input[type=email],
  #c-contactTable.c-contactTable textarea {
    width: 450px;
  }
}
#c-contactTable.c-contactTable input[type=text].your-tel {
  width: 90px;
}
#c-contactTable.c-contactTable td > label.required::before {
  content: "必須";
  width: 28px;
  margin-right: 12px;
  padding: 2px;
  background-color: #f441c9;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
}
#c-contactTable.c-contactTable td > label:not(.required)::before {
  content: "任意";
  width: 28px;
  margin-right: 12px;
  padding: 2px;
  background-color: #666666;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
}

/**
 * Utilities
 */
.c-block {
  display: block;
}

.c-inline-block {
  display: inline-block;
}

.c-w_1 {
  width: min(100%, 72px) !important;
  margin: 0 auto;
}

.c-w_2 {
  width: min(100%, 144px) !important;
  margin: 0 auto;
}

.c-w_3 {
  width: min(100%, 216px) !important;
  margin: 0 auto;
}

.c-w_4 {
  width: min(100%, 288px) !important;
  margin: 0 auto;
}

.c-w_5 {
  width: min(100%, 360px) !important;
  margin: 0 auto;
}

.c-w_6 {
  width: min(100%, 432px) !important;
  margin: 0 auto;
}

.c-w_7 {
  width: min(100%, 504px) !important;
  margin: 0 auto;
}

.c-w_8 {
  width: min(100%, 576px) !important;
  margin: 0 auto;
}

.c-w_9 {
  width: min(100%, 648px) !important;
  margin: 0 auto;
}

.c-m_0 {
  margin: 0px !important;
}

.c-m_1 {
  margin: 12px !important;
}

.c-m_2 {
  margin: 24px !important;
}

.c-m_3 {
  margin: 36px !important;
}

.c-mt_0 {
  margin-top: 0px !important;
}

.c-mt_1 {
  margin-top: 12px !important;
}

.c-mt_2 {
  margin-top: 24px !important;
}

.c-mt_3 {
  margin-top: 36px !important;
}

.c-ml_0 {
  margin-left: 0px !important;
}

.c-ml_1 {
  margin-left: 12px !important;
}

.c-ml_2 {
  margin-left: 24px !important;
}

.c-ml_3 {
  margin-left: 36px !important;
}

.c-mr_0 {
  margin-right: 0px !important;
}

.c-mr_1 {
  margin-right: 12px !important;
}

.c-mr_2 {
  margin-right: 24px !important;
}

.c-mr_3 {
  margin-right: 36px !important;
}

.c-mb_0 {
  margin-bottom: 0px !important;
}

.c-mb_1 {
  margin-bottom: 12px !important;
}

.c-mb_2 {
  margin-bottom: 24px !important;
}

.c-mb_3 {
  margin-bottom: 36px !important;
}

.c-p_0 {
  padding: 0px !important;
}

.c-p_1 {
  padding: 12px !important;
}

.c-p_2 {
  padding: 24px !important;
}

.c-p_3 {
  padding: 36px !important;
}

.c-pt_0 {
  padding-top: 0px !important;
}

.c-pt_1 {
  padding-top: 12px !important;
}

.c-pt_2 {
  padding-top: 24px !important;
}

.c-pt_3 {
  padding-top: 36px !important;
}

.c-pl_0 {
  padding-left: 0px !important;
}

.c-pl_1 {
  padding-left: 12px !important;
}

.c-pl_2 {
  padding-left: 24px !important;
}

.c-pl_3 {
  padding-left: 36px !important;
}

.c-pr_0 {
  padding-right: 0px !important;
}

.c-pr_1 {
  padding-right: 12px !important;
}

.c-pr_2 {
  padding-right: 24px !important;
}

.c-pr_3 {
  padding-right: 36px !important;
}

.c-pb_0 {
  padding-bottom: 0px !important;
}

.c-pb_1 {
  padding-bottom: 12px !important;
}

.c-pb_2 {
  padding-bottom: 24px !important;
}

.c-pb_3 {
  padding-bottom: 36px !important;
}

.c-rounded_1 {
  border-radius: 3px !important;
}

.c-rounded_2 {
  border-radius: 6px !important;
}

.c-rounded_3 {
  border-radius: 9px !important;
}

/**
 * Book
 */
.book {
  position: relative;
  width: calc(100% + 200px);
  height: min(112vw, 1344px);
  margin-left: -100px;
  overflow: hidden;
}
@media (max-width: 750px) {
  .book {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}
@media (min-width: 900px) {
  .book {
    height: min(56vw, 672px);
  }
}
.book__pages {
  position: absolute;
  top: 0;
  right: min(20vw, 180px);
  bottom: 0;
  z-index: 1;
  width: min(120vw, 1080px);
  height: min(84vw, 756px);
  margin: auto;
  background-color: #e0e0e0;
}
@media (min-width: 900px) {
  .book__pages {
    right: calc(50% - min(15vw, 180px));
    width: min(60vw, 720px);
    height: min(42vw, 504px);
  }
}
.book__page {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.book__content {
  position: relative;
  width: min(60vw, 360px);
  height: 100%;
  background-color: #ffffff;
}
.book__content h2 {
  font-size: min(3.75vw, 22.5px);
}
.book__content p {
  margin: 0;
  font-size: min(2vw, 12px);
}
.book__pageNum {
  position: absolute;
  left: 0;
  right: 0;
  bottom: min(2.5vw, 30px);
  margin: auto;
  text-align: center;
}
.book__canvas {
  position: absolute;
  top: 0;
  right: min(17vw, 153px);
  z-index: 100;
  width: min(126vw, 1134px);
  height: 100%;
}
@media (min-width: 900px) {
  .book__canvas {
    right: calc(50% - min(16.5vw, 198px));
    width: min(63vw, 756px);
  }
}
.book__prev, .book__next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 110;
  width: 3rem;
  height: 3rem;
  margin: auto !important;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #3399cc;
  text-align: center;
  outline: 0;
  cursor: pointer;
}
.book__prev:hover, .book__next:hover {
  color: #85c2e0;
}
.book__prev {
  left: min(5vw, 45px);
}
@media (min-width: 900px) {
  .book__prev {
    left: 330px;
  }
}
.book__next {
  right: min(5vw, 45px);
}
@media (min-width: 900px) {
  .book__next {
    right: 330px;
  }
}

/**
 * Photos
 */
.myphoto {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.myphoto__image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  transition: transform 0.35s, filter 0.35s;
  filter: blur(1px) brightness(0.85);
}
.myphoto:hover .myphoto__image {
  transform: scale(1.2);
  filter: brightness(1);
}
.myphoto__focusFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.35s, border-color 0.35s;
}
.myphoto:hover .myphoto__focusFrame {
  opacity: 1;
  animation: blink 1s infinite;
}
.myphoto__tooltip {
  position: absolute;
  right: 6px;
  bottom: 12px;
  margin: 0;
  padding: 6px 9px;
  border: 1px solid #808080;
  background-color: rgba(255, 255, 255, 0.85);
  color: #333333;
  font-size: min(2.52vw, 75%);
  line-height: 1.44 !important;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
.myphoto:hover .myphoto__tooltip {
  opacity: 1;
}

@keyframes blink {
  0% {
    border-color: rgba(255, 255, 255, 0.7);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.35);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.7);
  }
}